:root {
	--background: #2B2D42;
	/* --primary: #D90429; */
	--primary: #006bb3;
	--text: #EDF2F4;
	--accent-1: #8D99AE;
	--accent-2: #EF233C;
	
}

/* Remove arrows from input numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
	background-color: var(--background);
}

h1, h2, h3, h4, p {
	color: var(--text);
	font-family: sans-serif;
}

.title {
	text-align: center;
}

main {
	background-color: var(--primary);
	width: 70%;
	
	margin: auto;
	padding: 8px;
	
	border-radius: 16px;
}

.desc {
	text-align: center;
}

.categories-container {
	display: grid;
	grid-template-columns: max-content max-content 1fr;
	justify-items: center;
	gap: 16px;
}

.categories {
	background-color: var(--accent-2);
	width: fit-content;
	
	padding: 10px 16px;
	
	border-radius: 16px;
}

.categories>h3 {
	border-bottom: black;
	border-bottom-style: solid;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
}

.category {
	display: flex;
}

.category>p {
	margin: 4px;
}

.troops-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
}

.troops {
	background-color: var(--accent-2);
	
	display: grid;
	grid-template-columns: auto auto auto auto;
	
	text-align: center;
	
	border-radius: 16px;
}

.selector {
	display: flex;
	align-items: center;
	
	width: fit-content;
	margin: auto;
}

.selector>input {
	width: 48px;
	text-align: center;
	background-color: var(--accent-2);
	border-style: none;
}

/* Styling for the footer */
footer {
	background-color: var(--accent-1);
	display: flex;
	justify-content: center;
	gap: 32px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 0px 16px;
}

footer>.container {
	display: flex;
	gap: 8px;
}

footer>button {
	height: fit-content;
	margin: auto 0px;
	padding: 8px;
	font-size: 24px;
}

/* Styling for the output box. */
.output-container {
	background-color: var(--accent-1);
	
	width: 100%;
	border-style: solid;
	border-radius: 16px;
}

.output-header {
	display: flex;
	align-items: center;
}

.output-header>h2 {
	margin: 16px;
}

.output-header>img {
	width: 32px;
	margin-left: auto;
	margin-right: 16px;
	border-radius: 8px;
}

.output-header>img:hover {
	background-color: var(--text);
}

#output {
	margin: 16px;
}

.limit-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.limit-container>p {
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltiptext {
	visibility: hidden;
	width: 400px;
	text-align: center;
	position: absolute;
	bottom: 200%;
	left: 50%;
	margin-left: -200px;
	border-width: 8px;
	border-style: solid;
	border-radius: 16px;
	border-color: #00000077;
}

.tooltip:hover>.tooltiptext {
	visibility: visible;
}